.image {
  background-color: $lightest-color;
  border-radius: 50%;
  height: 12.6rem;
  object-fit: cover;
  padding: 1.6rem;
  width: 12.6rem;
}

@media (min-width: $medium) {
  .image {
    height: 21rem;
    padding: 2.4rem;
    width: 21rem;
  }
}
