.link-mail {
  background-color: $text-link-color;
  border-radius: 2.4em;
  color: $neutral;
  display: inline-block;
  font-family: $main-font;
  font-size: $s-text-size;
  font-weight: $font-thick;
  padding: 0.6em 1.2em;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $neutral;
    filter: drop-shadow(0px 3px 0 $dark-text-color);
    color: $dark-text-color;
  }
  &--darker-background {
    &:hover {
      background-color: $light-color;
    }
  }
}
