.main-title {
  color: $dark-text-color;
  font-size: $l-text-size;
  font-weight: $font-thick;
  max-width: 86rem;
  padding-top: 4rem;
  text-align: center;
  &--special {
    color: $main-color;
  }
}

@media (min-width: $large) {
  .main-title {
    font-size: $xl-text-size;
  }
}
