.media {
  display: flex;
  justify-content: space-between;
  width: 19.2rem;
  &--link {
    background-color: $neutral;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 4.8rem;
    padding: 1.2rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      filter: drop-shadow(0px 3px 0 $dark-text-color);
    }
    &:hover .media--icon:not(:hover) {
      fill: $dark-text-color;
    }
  }
  &--icon {
    transition: all 0.2s ease-in-out;
    &:hover {
      fill: $dark-text-color;
    }
  }
}
