.hero {
  @include section-mobile-layout;
  &__hello {
    display: none;
  }
  &__image-container {
    @include mobile-grid-element-width;
    display: flex;
    justify-content: center;
  }
  &__image {
    border-radius: 50%;
    height: 9.6rem;
    margin-top: 3.4rem;
    width: 9.6rem;
  }
  &__header {
    @include mobile-grid-element-width;
    text-align: center;
  }
  &__title {
    color: $text-dark;
    font-size: 2.6rem;
    line-height: 3.2rem;
    margin-top: 4rem;
    &--special {
      color: $blue;
    }
  }
  &__description {
    @include regular-text;
    &--link {
      @include link-text;
    }
  }
  &__contact {
    @include link-mail-container;
    @include mobile-grid-element-width;
  }
  &__mail{
    @include link-mail;
  }
}