// colors:
$neutral: #ffffff;
$lightest-color: #f6f9fd;
$light-color: #dbeaf7;
$main-color: #1070ca;
$article-color-1: #1e1e1e;
$article-color-2: #212528;
$article-color-3: #464a4d;
$article-color-4: #808082;
$article-color-5: #a3a3a3;

$dark-text-color: #234361;
$default-text-color: #425a70;
$article-link-color: #14b5d0;
$text-link-color: #4da8ff;

// fonts:
$main-font: "Nunito", sans-serif;
$code-font: "Roboto Mono", monospace;

// font-size:
$xxs-text-size: 1.3rem;
$xs-text-size: 1.6rem;
$s-text-size: 2rem;
$m-text-size: 2.4rem;
$l-text-size: 2.6rem;
$xl-text-size: 3.2rem;
$xxl-text-size: 3.6rem;
$xxxl-text-size: 4.8rem;
$skills-icon-text-size: 6.4rem;

// font-weight:
$font-thin: 300;
$font-thick: 700;

// padding:
$article-base-padding: 1.6rem;
