@mixin section-mobile-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.6rem;
  padding: 6.4rem 1.6rem 8.8rem;
}

@mixin mobile-grid-element-width {
  grid-column: 1 / 5;
}

@mixin section-title-text {
  color: $text-dark;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.8rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

@mixin regular-text {
  color: $text-default;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3.2rem;
  text-align: center;
}

@mixin link-text {
  color: $link;
  font-weight: 700;
}

@mixin link-mail-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

@mixin link-mail {
  background-color: $link;
  border-radius: 3rem;
  color: $white;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem 3rem;
  text-align: center;
}

@mixin link-icon {
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 4.8rem;
  margin: 0 1.2rem;
  padding: 1.2rem;
}

@mixin project-description-alignment {
  display: inline-block;
  width: calc(100% - 11rem);
}

@mixin project-code-symbols-position {
  color: $grey5;
  display: inline-block;
}
